.footer {
    position: relative;
    z-index: 2;
    height: 50px;
    /* background-image: linear-gradient(to top, #090d13, #6b9be9); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: rgb(243, 243, 243);
    text-shadow: 3px 3px 3px #000;
    /* box-shadow: 0 0 14px #000; */
    font-family: 'yu100';
}

.appName {
    font-size: 24px;
}
